@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Оценка размера ущерба от незаконно заготовленной древесины и иных лесных ресурсов</h1>
</div>

<div class="card-group">
    <div class="row">
        <div class="col-6">
            <div class="card border-dark mb-4">
                <div class="card-body">
                    <h5 class="card-title">Незаконная рубка деревьев</h5>
                    <p class="card-text">Незаконные рубка, выкапывание, уничтожение или повреждение до степени прекращения роста деревьев</p>
                    <a class="btn btn-success" asp-area="" asp-controller="Violation" asp-action="TreeFelling">Перейти к расчету</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card border-dark mb-4">
                <div class="card-body">
                    <h5 class="card-title">Незаконная рубка кустарников, лиан</h5>
                    <p class="card-text">Незаконные рубка, выкапывание, уничтожение или повреждение до степени прекращения роста кустарников и лиан</p>
                    <a class="btn btn-success" asp-area="" asp-controller="Violation" asp-action="BushFelling">Перейти к расчету</a>
                </div>
            </div>
        </div>
    </div>
</div>