@model Violation1CalculatedViewModel
@{
    ViewData["Title"] = "Данные о насаждениях";
}

<div class="text-center">
    <h1 class="display-4">Расчет данных о насаждениях</h1>
</div>

<p class="fw-bolder">Корневой запас: @Model.RootStock</p>
<p class="fw-bolder">Ликвидный запас: @Model.LiquidStock</p>



