@{
    ViewData["Title"] = "Расчет";
}

<div class="text-center">
    <h1 class="display-4">Расчет по незаконной рубке деревьев</h1>
</div>

<form method="post" action="~/Violation/BreedsData">
    <div class="table-responsive container">
        <table class="table table-bordered border-dark">
            <thead>
                <tr>
                    <th>Порода</th>
                    <th>Диаметр пня, см</th>
                    <th>Высота пня, см</th>
                    <th>Разряд высот</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="inputs">
                <tr>
                    <th><input type="text" name="breed[]" required></th>
                    <td><input type="number" step="0.01" name="diameter[]" required></td>
                    <td><input type="number" step="0.01" name="h[]" required></td>
                    <td><input type="number" step="0.01" name="rankH[]" required></td>
                    <td><a class="btn btn-danger" onclick="deleteRow(this)">-</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-md">
            <button class="btn btn-primary" onclick="addRow()">Добавить данные</button>
            <input class="btn btn-success" type="submit" value="Отправить" />
        </div>
    </nav>
    
</form>
<script>
    function addRow()
    {
        try 
        {
            event.preventDefault(); // Отмена отправки данных по этой кнопке
            var parent = document.getElementById("inputs");
            var clone = parent.children[0].cloneNode(true); // Создание ещё одной строки как копии имеющейся
            parent.appendChild(clone);

            // Очистка скопированного значения (если необходимо)
            var inputs = clone.getElementsByTagName('input');
            for (var i = 0; i < inputs.length; i++)
            {
                inputs[i].value = ''; // Очистка значения в input элементах
            }
        } catch (e) { alert(e); }

    }
    function deleteRow(currentRow)
    {
        try
        {
            var table = document.getElementById('inputs');
            var rowCount = table.rows.length;
            for (var i = 0; i < rowCount; i++)
            {
                var row = table.rows[i];
                /*var chkbox = row.cells[0].childNodes[0];*/
                /*if (null != chkbox && true == chkbox.checked)*/

                if (row == currentRow.parentNode.parentNode)
                {
                    if (rowCount <= 1)
                    {
                        alert("Нельзя удалить все строки.");
                        break;
                    }
                    table.deleteRow(i);
                    rowCount--;
                    i--;
                }
            }
        } catch (e) { alert(e); }
    }
</script>